<div class="flex flex-row p-4 align-middle justify-between">
  <div class="flex flex-row align-middle justify-between gap-6">
    <img
      [ngSrc]="comment.user.image"
      alt="Profile picture"
      width="40"
      height="40"
      class="rounded-full h-[40px] w-[40px]"
    />
    <div class="flex flex-col">
      <div>
        <h4>{{ comment.user.name }}</h4>
        <p class="text-sm text-slate-500">
          {{ "@" + comment.user.username }}
        </p>
      </div>
      <p class="text-slate-500">{{ comment.content }}</p>
    </div>
  </div>
  <a
    class="text-[#4661e6] text-sm font-semibold hover:underline cursor-pointer"
  >
    Reply</a
  >
</div>
