<div class="w-full h-full flex flex-col">
  <nav
    class="flex flex-row align-middle justify-between px-5 py-3 mt-6 bg-suggestionsTab rounded-[10px] h-[72px] w-full lg:mt-0"
  >
    <div class="flex flex-row justify-center align-middle">
      <img
        ngSrc="../../../../../assets/suggestions/icon-suggestions.svg"
        alt="icon suggestions"
        width="30"
        height="30"
        class="w-auto h-auto m-auto"
      />
      <h3 class="text-lg font-semibold text-white my-auto ml-6 mr-8">
        Suggestions
      </h3>
      <div class="flex flex-row gap-1 align-middle justify-center">
        <div
          class="text-sm text-white my-auto flex flex-row align-middle justify-center gap-1"
        >
          <p>Sort by:</p>
          <div class="relative">
            <div
              class="flex flex-row align-middle justify-center gap-1 cursor-pointer"
              (click)="openDropdown()"
            >
              <strong>{{ selectedSort() }}</strong>
              <img
                class="m-auto"
                ngSrc="../../../../../assets/shared/icon-arrow-down.svg"
                alt="arrow-down"
                width="10"
                height="7"
              />
            </div>
            @if (isDropdownOpen) {
            <ul
              class="absolute z-10 bg-white border border-gray-300 rounded my-5 w-52 text-slate-500 text-base left-[-3rem]"
            >
              @for (sort of sortBys; track $index) {
              <li
                class="hover:bg-gray-100 px-5 py-3 cursor-pointer last:border-b-0 border-b-[1px] border-b-slate-200"
                (click)="setSort(sort)"
              >
                {{ sort }}
              </li>
              }
            </ul>
            }
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="addFeedback()"
      class="flex flex-row align-middle justify-center text-white font-bold text-sm my-auto gap-1 bg-purple-500 px-6 py-3 rounded-lg"
    >
      <img
        class="m-auto"
        ngSrc="../../../../assets/shared/icon-plus.svg"
        alt="plus icon"
        width="10"
        height="10"
      />
      Add Feedback
    </button>
  </nav>
  <main>
    @for (item of filteredData(); track item.id) {
    <app-feedback-card [feedback]="item"></app-feedback-card>
    }
  </main>
</div>
