<div class="flex md:flex-row md:w-full md:h-44 lg:flex-col lg:w-64 lg:h-full">
  <div
    class="flex flex-col rounded p-6 align-start text-white m-0 h-44 md:w-60 md:mr-3 lg:mb-3 lg:mr-0 lg:w-64 justify-end bg-[radial-gradient(128.88%_128.88%_at_103.9%_-10.39%,rgb(232,77,112)_0%,rgb(163,55,246)_53.09%,rgb(40,167,237)_100%)]"
  >
    <h3 class="!m-0 font-bold text-lg">Alvin Ang</h3>
    <p class="text-base">Feedback Board</p>
  </div>

  <div
    class="flex flex-row flex-wrap align-middle justify-start gap-3 rounded p-6 m-0 h-44 md:flex-1 md:mr-3 md:w-60 lg:flex-none lg:w-64 lg:mb-3 lg:mr-0 bg-white"
  >
    @for (item of tag; track item.id) {

    <button
      (click)="setActive(item)"
      class="py-[6px] px-[16px] bg-[#f7f8fd] rounded-xl text-blue-500 font-semibold h-fit"
      [class]="{ active: item.active }"
    >
      <p class="text-sm">{{ item.name }}</p>
    </button>

    }
  </div>

  <div
    class="flex flex-col rounded gap-2 p-6 m-0 h-44 md:mr-3 md:w-60 lg:w-64 lg:mb-3 lg:mr-0 bg-white"
  >
    <div class="flex flex-row justify-between align-middle">
      <h4 class="text-lg text-slate-600 font-bold">Roadmap</h4>
      <a
        class="text-sm text-blue-500 underline font-semibold"
        [routerLink]="['/roadmap']"
        >View</a
      >
    </div>
    <ul class="flex flex-col gap-2 text-base text-slate-500">
      <li class="flex flex-row justify-between align-middle">
        <div class="flex flex-row gap-2 align-middle justify-center">
          <div class="w-2 h-2 bg-amber-500 rounded-full m-auto"></div>
          <p>Planned</p>
        </div>
        <p class="font-bold">2</p>
      </li>
      <li class="flex flex-row justify-between align-middle">
        <div class="flex flex-row gap-2 align-middle justify-center">
          <div class="w-2 h-2 bg-purple-500 rounded-full m-auto"></div>
          <p>In Progress</p>
        </div>
        <p class="font-bold">3</p>
      </li>
      <li class="flex flex-row justify-between align-middle">
        <div class="flex flex-row gap-2 align-middle justify-center">
          <div class="w-2 h-2 bg-sky-500 rounded-full m-auto"></div>
          <p>Live</p>
        </div>
        <p class="font-bold">1</p>
      </li>
    </ul>
  </div>
</div>
